# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Docker
*.pid
*.db
*.sqlite3

# Byte-compiled / optimized / DLL files
*.so

# Test output
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/